.main {
  max-width: 512px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* TOP-RANK */
.top-rank {
  margin-top: 2rem;
  border: 1px solid var(--color-gray);
  border-radius: 1rem;
  border-color: var(--color-main);
  background: rgb(33, 33, 37);
  background: linear-gradient(
    90deg,
    rgba(33, 33, 37, 1) 20%,
    rgba(22, 22, 26, 1) 40%,
    rgba(16, 16, 21, 1) 75%
  );
}

.top-rank h3 {
  padding: 1rem;
  border-bottom: 1px solid var(--color-gray);
  border-color: var(--color-main);
  margin: 0;
  text-align: center;
  background-color: var(--color-main);
  color: var(--color-black);
  border-radius: 15px 15px 0 0;
}

.top-rank-wrap {
  padding: 1rem 1.5rem;
}

.top-rank table {
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.top-rank table thead {
  color: var(--color-main);
}

.rank-list-wrap {
  position: relative;
  height: 220px;
  overflow: hidden;
}

.rank-list {
  list-style: none;
  padding-left: 12px;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
  transition: 500ms;
}

.list-move {
  top: -220px;
}

.rank-item {
  padding: 10px 0;
  width: 100%;
}

.rank-item span {
  display: inline-block;
  text-align: center;
}

.rank-item span:nth-child(1) {
  width: 15%;
}

.rank-item span:nth-child(2) {
  width: 25%;
}

.rank-item span:nth-child(3) {
  width: 57%;
}

/* MY-INFO */
.my-info {
  margin: 3rem 0;
}

.my-info-wrap {
  display: flex;
  justify-content: space-between;
}

.my-info-item {
  border: 1px solid var(--color-gray);
  border-radius: 1rem;
  border-color: var(--color-main);
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background: rgb(33, 33, 37);
  background: linear-gradient(
    180deg,
    rgba(33, 33, 37, 1) 20%,
    rgba(22, 22, 26, 1) 40%,
    rgba(16, 16, 21, 1) 75%
  );
}

.my-info-item:nth-child(1) {
  flex-grow: 1;
}

.my-info-item:nth-child(2) {
  flex-grow: 1.25;
  margin: 0 20px;
}

.my-info-item:nth-child(3) {
  flex-grow: 1;
}

.my-info-item:last-child {
  color: var(--color-main);
  border-color: var(--color-main);
}

.my-info-item p {
  margin: 0;
  font-weight: bold;
}

.my-info-text {
  text-align: center;
}

.my-info-num {
  color: var(--color-main);
  font-size: 28px;
}

.my-info-icon span {
  font-size: 38px;
  color: var(--color-main);
}

.my-info-item:nth-child(2) .my-info-icon span {
  animation: rotate_icon 3.5s linear infinite;
}

@keyframes rotate_icon {
  100% {
    transform: rotateY(360deg);
  }
}

.banner {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.banner video {
  width: 100%;
  border-radius: 1rem;
}

/* MY-COMMISSION */
.my-commission {
  border: 1px solid var(--color-gray);
  border-radius: 1rem;
  border-color: var(--color-main);
  background: rgb(33, 33, 37);
  background: linear-gradient(
    90deg,
    rgba(33, 33, 37, 1) 20%,
    rgba(22, 22, 26, 1) 40%,
    rgba(16, 16, 21, 1) 75%
  );
}

.my-commission h3 {
  padding: 1rem;
  border-bottom: 1px solid var(--color-gray);
  border-color: var(--color-main);
  color: var(--color-main);
  margin: 0;
  text-align: center;
  background-color: var(--color-main);
  color: var(--color-black);
  border-radius: 15px 15px 0 0;
}

.my-commission-wrap {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-around;
}

.my-commission-wrap p {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  color: var(--color-main);
}

.total,
.withdraw {
  text-align: center;
}

.withdrawal-btn {
  width: 100%;
  padding: 1.5rem 0;
  margin: 3rem 0;
  text-align: center;
  border: 1px solid var(--color-main);
  border-radius: 1rem;
  color: var(--color-main);
  font-size: 1.75rem;
}

@media screen and (max-width: 768px) {
  /* Info */
  .my-info-wrap {
    flex-direction: column;
  }
  .my-info-item {
    flex-direction: row;
    justify-content: space-around;
  }
  .my-info-item:nth-child(2) {
    flex-grow: 1;
    margin: 1rem 0;
  }
  .my-info-icon span {
    font-size: 54px;
  }
  .my-info-text {
    width: 160px;
  }
  .my-info-num {
    font-size: 32px;
  }

  /* Commission */
  .my-commission-wrap {
    flex-direction: column;
  }
  .withdraw {
    margin-top: 2rem;
  }
}
