<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>비트솔루션 | 세계 최초 수수료 페이백 금융 솔루션 고객만족 1위</title>
</head>

<body>

  <!-- HEADER -->
  <header class="header wrapper">
    <div class="logo">
      <a href="{% url 'views:main' %}">
        <img src="{% static 'img/logo.png' %}" alt="logo">
      </a>
    </div>

    {% if request.user.is_authenticated %}
    <a href="{% url 'accounts:logout' %}">
      <button class="login-btn">로그아웃</button>
    </a>
    {% else %}
    <a href="{% url 'accounts:login' %}">
      <button class="login-btn">로그인</button>
    </a>
    {% endif %}
  </header>

</body>

</html>