{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<main class="main">

  <div class="logo" style="text-align: center;">
    <img src="{% static 'img/logo.png' %}" alt="logo" width="300">
  </div>

  <!-- TOP-RANK -->
  <section class="top-rank">
    <h3>랭킹 TOP10</h3>
    <div class="top-rank-wrap">
      <table>
        <thead>
          <th>순위</th>
          <th>UID</th>
          <th>총누적금(원)</th>
        </thead>
      </table>
      <div class="rank-list-wrap">
        <ul class="rank-list">
          <li class="rank-item">
            <span>1</span> <span>{{ top_ranks.0.1 }}</span> <span>{{ top_ranks.0.0|intcomma }}</span>
          </li>
          <li class="rank-item">
            <span>2</span> <span>{{ top_ranks.0.1 }}</span> <span>{{ top_ranks.0.0|intcomma }}</span>
          </li>
          <li class="rank-item">
            <span>3</span> <span>{{ top_ranks.0.1 }}</span> <span>{{ top_ranks.0.0|intcomma }}</span>
          </li>
          <li class="rank-item">
            <span>4</span> <span>{{ top_ranks.0.1 }}</span> <span>{{ top_ranks.0.0|intcomma }}</span>
          </li>
          <li class="rank-item">
            <span>5</span> <span>{{ top_ranks.0.1 }}</span> <span>{{ top_ranks.0.0|intcomma }}</span>
          </li>
          <li class="rank-item">
            <span>6</span> <span>{{ top_ranks.0.1 }}</span> <span>{{ top_ranks.0.0|intcomma }}</span>
          </li>
          <li class="rank-item">
            <span>7</span> <span>{{ top_ranks.0.1 }}</span> <span>{{ top_ranks.0.0|intcomma }}</span>
          </li>
          <li class="rank-item">
            <span>8</span> <span>{{ top_ranks.0.1 }}</span> <span>{{ top_ranks.0.0|intcomma }}</span>
          </li>
          <li class="rank-item">
            <span>9</span> <span>{{ top_ranks.0.1 }}</span> <span>{{ top_ranks.0.0|intcomma }}</span>
          </li>
          <li class="rank-item">
            <span>10</span> <span>{{ top_ranks.0.1 }}</span> <span>{{ top_ranks.0.0|intcomma }}</span>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- MY-INFO -->
  <section class="my-info">
    <div class="my-info-wrap">
      <div class="my-info-item">
        <div class="my-info-icon">
          <span class="material-symbols-outlined">
            person_add
          </span>
        </div>
        <div class="my-info-text">
          <p class="my-info-num">{{ lower_count }}</p>
          <p class="my-info-title">등록</p>
        </div>
      </div>
      <div class="my-info-item">
        <div class="my-info-icon">
          <span class="material-symbols-outlined">
            paid
          </span>
        </div>
        <div class="my-info-text">
          <p class="my-info-num">{{ uid }}</p>
          <p class="my-info-title">MY UID</p>
        </div>
      </div>
      <div class="my-info-item">
        <div class="my-info-icon">
          <span class="material-symbols-outlined">
            diamond
          </span>
        </div>
        <div class="my-info-text">
          <p class="my-info-num">VVIP</p>
          <p class="my-info-title">등급</p>
        </div>
      </div>
    </div>
    </div>
  </section>

  <!-- MY-COMMISSION -->
  <section class="my-commission">
    <h3>나의 적립금</h3>
    <div class="my-commission-wrap">
      <div class="total">
        <h5>총누적금액(원)</h5>
        <p>{{ total_rebate|intcomma }}</p>
      </div>
      <div class="withdraw">
        <h5>인출가능금액(원)</h5>
        <p>{{ withdrawal|intcomma }}</p>
      </div>
    </div>
  </section>

  <a href="http://pf.kakao.com/_usVpxj/chat">
    <button class="withdrawal-btn">인출하기</button>
  </a>

</main>

{% endblock content %}